body {
  background: #564C44;
  margin: 0px;
}

/*NAVIGATION BAR*/

.header {
	position: sticky;
	top: 0px;
	padding: 20px;
	padding-bottom: 0px;
	padding-top:0px;
	background: #624F43;
	border-bottom: 1px solid #987455;
}

.header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	height: 60px;
}

.header .nav {
	top: 5px;
	text-align: center;
	color: #7A623D;
}

.nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}

.nav li {
	display: inline;
	padding: 0px;
	margin: 0px;
}

.nav li a {
	padding: 11.4px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-family: Courier New;
	font-weight: bold;
	color: #F7E5C4;
	text-decoration: none;
}

.nav .current {
	background-color: #564C44;
	border: 1px solid #987455;
	border-bottom: 0px;
}

.nav li a:hover:not(.current) {
	background-color: #564C44;
	border: 1px solid #987455;
	border-bottom: 0px;
}

/*STAGE DESCRIPTION*/

.section .description {
  background: #F7E5C4;
  border: 4px solid #987455;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Tahoma;
}

.title {
  margin: auto;
  text-align: center;
  color: #423521;
}

hr {
	border: 2px solid #987455;
	border-radius: 1px;
}

.column {
	display: grid;
	grid-template-columns: 40% 60%;
}

.column video {
	margin-top: 16px;
	border: 2px solid #564C44;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.column1 {
	color: #7A623D;
	font-family: Tahoma;
	text-align: center;
}

.column1 a {
	color: #7A623D;
	text-decoration: none;
	font-weight: bold;
}

.column1 a:hover {
	text-decoration: underline;
}

.description p , .description h4 {
	color: #7A623D;
}

.column h4 {
	margin-bottom: 0px;
}

/*EXTRA*/

.section .extra {
  background: #F7E5C4;
  border: 4px solid #987455;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Tahoma;
}

.extra p {
	color: #7A623D;
}

/*BUTTONS*/

.buttons {
	display: grid;
	grid-template-columns: 50% auto;
	margin: 20px;
	margin-top: 0px;
}

.back a, .next a {
	width: 120px;
	padding: 10px;
	display: block;
	text-align: center;
	background-color: #9F836B;
	border: 2px solid #624F43;
	border-radius: 10px;
	font-family: Courier New;
	font-weight: bold;
	color: #F7E5C4;
	text-decoration: none
}

.back a:hover, .next a:hover {
	background-color: #302923;
	transform: scaleY(1.2);
}

.back a {
	float: left;
	margin-left: 10%
}

.next a {
	float: right;
	margin-right: 10%;
	width: 130px;
}

/*SOCIAL MEDIA LINKS*/

.socmed {
	margin-bottom: 90px;
}

#navlist {
  position: relative;
}

#navlist li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  top: 0px;
}

#navlist li, #navlist a {
	display: block;
}

#twitter {
	left: 25%;
}

#twitter a {
	background: url('../images/sprite.png') -31px -6px;
	width: 53px;
	height: 53px;
}

#facebook {
	left: 50%;
}

#facebook a {
	background: url('../images/sprite.png') -94px -6px;
	width: 53px;
	height: 53px;
}

#youtube {
	left: 75%
}

#youtube a {
	background: url('../images/sprite.png') -155px -6px;
	width: 65px;
	height: 53px;
}

#twitter a:hover {
	background: url('../images/sprite.png') -31px -62px;
}

#facebook a:hover {
	background: url('../images/sprite.png') -94px -62px;
}

#youtube a:hover {
	background: url('../images/sprite.png') -155px -62px;
}
