body {
  background: #564C44;
}

.section {
  background: #F7E5C4;
  width: 600;
  border: 4px solid #987455;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: EB Garamond;
}

.header {
  display: grid;
  grid-template-columns: 80px auto;
  color: #423521;
}

.text p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  vertical-align: middle;
}

.img img {
  width: 80px;
  height: 80px;
  border-radius: 42px;
  border: 2px solid #987455;
}

.description h3 {
	color: #423521;
}

.description p {
	color: #7A623D;
}

hr {
	border: 2px solid #987455;
	border-radius: 1px;
}

.title {
  margin: auto;
  width: 50%;
  text-align: center;
}

.stages p {
  margin-left: 40px;
  color: #7A623D;
}

.stages h3 {
	color: #423521;
}
